<nav class="navbar navbar-dark bg-dark">
  <ul class="nav navbar-nav mr-auto">
    <li
      class="nav-item active"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" routerLink="/todos">My Todos</a>
    </li>
  </ul>
  <ul class="navbar-nav nav ml-auto d-flex flex-row">
    <li
      *ngIf="!isAuthenticated"
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" routerLink="/signup">Sign up</a>
    </li>
    <li
      *ngIf="!isAuthenticated"
      class="nav-item ml-3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" routerLink="/signin">Sign in</a>
    </li>
    <li
      *ngIf="isAuthenticated"
      class="nav-item ml-3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav>
