<div class="row d-flex justify-content-center mt-3">
  <div class="col-xs-12 col-md-6">
    <h3>Authenticate</h3>
  </div>
</div>
<div class="row d-flex justify-content-center align-items-center mt-3">
  <div class="col-xs-12 col-md-6">
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group" *ngIf="!isLoginMode">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          ngModel
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          ngModel
          required
          minlength="8"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
      </div>
    </form>
  </div>
</div>
